<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>budg-it</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header class="bg-success py-3 text-white d-flex justify-content-between align-items-center">

        <h1 class="m-0">budg-it</h1>

        <div>
            <a href="/login" class="btn btn-light me-2">Login</a>
            <a href="/register" class="btn btn-light">Register</a>
        </div>
    </header>

    <main class="container mt-4">

        <div class="row mb-3 justify-content-center">
            <div class="col-12 col-md-5 mb-3">
                <div class="section" id="income" th:onclick="|window.location='/income'|">
                    <h2>Income</h2>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-3">
                <div class="section" id="expenses" th:onclick="|window.location='/expenses'|">
                    <h2>Expenses</h2>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12 col-md-5 mb-3">
                <div class="section" id="budget" th:onclick="|window.location='/budget'|">
                    <h2>Budget</h2>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-3">
                <div class="section" id="report" th:onclick="|window.location='/report'|">
                    <h2>Financial Report</h2>
                </div>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
